@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD System</h1>
    <p>This is a simple CRUD system! <a href="https://github.com/aureliowozhiak/Generic-CRUD_ASP.NET-CORE-3.1">GitHub Source</a></p>
    <center><img src="../img/portfolio.png" /></center>
</div>
